<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Tribute - about Page</title>
</head>
<body>
    <nav id="navBar"> 
        <H1>Tribute to Richard Feynman</H1>
        <div class="headerLinks">
            <a href="/home">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/work">WORK</a>
            <a href="/gallery">PHOTOS</a>
        </div>
    </nav>
    <h3>Want to learn about Richard Feynman?</h3>
    <a href="https://www.amazon.de/Feynman-Surely-Youre-Joking-Mr/dp/0393316041">Biography - "Surely you're joking, Mr Feynman!"</a>
    <a href="https://en.wikipedia.org/wiki/Richard_Feynman">Richard Feynman Wikipedia article</a>
    <a href="https://www.youtube.com/playlist?list=PLvoDdpWB21p97cNH6yRwqydTE2N4qrDe4">The Feynman lectures - Youtube Playlist </a>
    <a href="https://www.youtube.com/watch?v=GnSvy3nH7l0">Growing Up Feynman - Michelle Feynman</a>
</body>
</html>