<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Tribute - Home Page</title>
</head>
<body>
    <nav id="navBar"> 
        <H1>Tribute to Richard Feynman</H1>
        <div class="headerLinks">
            <a href="/home">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/work">WORK</a>
            <a href="/gallery">PHOTOS</a>
        </div>
    </nav>
    <div>
        <h2>Richard Feynman the notable:</h2>
            <ul>
                <li>Nobel Prize Winning Theoretical Physicist;</li>
                <li>Linguist;</li>
                <li>Artist;</li>
                <li>Ant Behaviourist;</li>
                <li>High Security Safe Cracker;</li>
                <li>Bongo Drum Player, &</li>
                <li>Waffle Bar Enthusiast.</li>
            </ul> 
    </div>
    <article>     
        Richard P. Feynman, (born May 11, 1918, New York, N.Y., U.S.—died Feb. 15, 1988, Los Angeles, Calif.), U.S. theoretical physicist. He received his Ph.D. from Princeton University. During World War II he worked on the Manhattan Project.
        <aside><em>"It's odd but in the infrequent occasions that I am called upon in a formal place to play the bongo drums, the introducer never seems to find it necessary to mention that I also do theoretical physics."</em></aside> 
        From 1950 he taught at the California Institute of Technology. The Feynman diagram was one of the many problem-solving tools he invented. With Julian Schwinger (1918–94) and Shinichiro Tomonaga (1906–79), he shared a 1965 Nobel Prize for his brilliant work on quantum electrodynamics. He was principally responsible for identifying the cause of the 1986 Challenger disaster. Famed for his wit, he also wrote best-selling books on science. His work, which tied together all the varied phenomena at work in light, radio, electricity, and magnetism, altered the way scientists understand the nature of waves and particles.</article>
        <p class="citation"><i> Gleick, James. "Richard Feynman". Encyclopedia Britannica, 2 Nov. 2022, https://www.britannica.com/biography/Richard-Feynman. Accessed 8 November 2022.</i></p>
</body>
</html>