<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Tribute - Work Page</title>
</head>
<body>
    <nav id="navBar"> 
        <H1>Tribute to Richard Feynman</H1>
        <div class="headerLinks">
            <a href="/home">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/work">WORK</a>
            <a href="/gallery">PHOTOS</a>
        </div>
    </nav>
    <div>
        <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/nLxZUvyuaVw" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
        </iframe>
    </div>
    <article>
        <aside> "If you can't explain something to a first year student, then you haven't really understood"</aside>
    </article>
    
</body>
</html>